body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
   color: orange; 
}
.flexzibale-containrer{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
   
}
.half-width{
 width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(238, 165, 8) , tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/new1.png);
    background-repeat: no-repeat;
}
.drem-big{
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expriance-area{
    background-image: url(images/banner4.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-color{
   width: 40%;
   margin-left: 5%;
   margin-right: 5%; 
   padding-left: 20px;
   box-shadow: 10px 10px 40px gray;
   border-radius: 10px;
   
}
#porson-one{
    border-left:7px solid rgb(255, 123, 0) ;
}
#porson-two{
    border-left:7px solid blue ;
}
#footer-side{
    text-align: center;
}

